/* Text colors */

$text-light: #fff;
$text-primary: #635C73;
$text-secondary: #848E97;
$accent: #8D81AC;
// alex
$top-line-color: #27262A;
$hidden-menu-color:#333;
$hidden-menu-lines-color:#3b3b3b;
$bottom-title-people-color: #A291A5;
$bottom-title-line-color: #645766;
$price-card-item: rgba(256, 265, 256, 0.11);
$price-card-item-highlight: rgba(70, 48, 72, 0.84);
$price-card-item-title: rgba(256, 265, 256, 0.06);
$price-card-item-title-highlight: rgba(0, 0, 0, 0.11);
$price-card-button:rgba(256, 265, 256, 0.15);

/* BREACKPOINTS */ 

$tablet: 481px;
$desktop: 993px;